$primary-background-color: #efeae2;
$secondary-background-color: #f0f2f5;
$secondary-text-color: #111b21;
$primary-text-color: #6b7c85;
$highlight-background-color: rgba(0, 0, 0, 0.08);
$border-color: #e9edef;
$scrollbar-thumb-color: #c6c6c6;
$date-background-color: #d9fdd3;

$small-font-size: 8px;
$text-font-size: 14px;
$medium-font-size: 16px;
$header-font-size: 20px;

$light-font-weight: 400;
$normal-font-weight: 500;
$bold-font-weight: 600;
