<app-chat-list-header></app-chat-list-header>
<div class="search-bar-filter">
    <input class="search-bar" [(ngModel)]="chatName" (input)="updateList()" placeholder="Search Chat Group" />
    <img src="./../../../assets//search-chat.svg" class="search-icon" />
    <a href="javascript:void(0);"><img src="../../../assets/add-chat.png" (click)="addChat()" /></a>
</div>
<ul class="chats-list">
    <li *ngFor="let chat of tempChatList" [class.selectedChat]="chat.id === selectedUserId">
        <a [routerLink]="['/chats', chat.id]">
            <div class="chat-pic">
                <img src="../../../assets/two-peole.png" alt="user-pic" />
            </div>
            <div class="chat-descrip">
                <div class="chat-title">
                    <p>{{ chat.name }}</p>
                    <p *ngIf="chat.chat.length > 0">{{ getLastmsg(chat) }}</p>
                    <p *ngIf="chat.chat.length == 0">The group has been created.</p>
                </div>
                <p *ngIf="chat.chat.length > 0" class="chat-date">{{ getTime(chat.chat[chat.chat.length - 1].date) }}</p>
                <p *ngIf="chat.chat.length == 0" class="chat-date">{{ getTime(chat.creationDate) }}</p>
            </div>
        </a>
    </li>
</ul>
<dialog #dialog>
    <div class="add-chat-dialog">
        <h2>Add New Chat</h2>
        <input [(ngModel)]="chatName" placeholder="Enter chat name" />
        <div>
            <button >Cancel</button>
            <button >Add</button>
        </div>
    </div>    
</dialog>
